name: build
on:
    push:
        branches:
            - main
jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/setup-node@v3
              with:
                  node-version: 16
            - uses: actions/checkout@v2
            - name: Install modules
              uses: pnpm/action-setup@v2
              with:
                  version: 8
            - name: Install dependencies
              run: pnpm install
            - name: Build the JSON files
              run: pnpm build
            - name: Upload to S3
              uses: jakejarvis/s3-sync-action@master
              with:
                  args: --acl public-read --follow-symlinks
              env:
                  AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_REGION: 'us-west-1'
                  SOURCE_DIR: 'build'
                  DEST_DIR: 'codemod-registry'
